@primary-color: #1e1827;
@secondary-color: #8671A6;
@tertiary-color: #936BD0;
@accent-color-1: #7B7B68;
@accent-color-2: #262618;
@accent-color-3: #71A67D;

@mobile-small: @360px;
@mobile-large: 576px;
@tablet-portrait: 768px;
@tablet-landscape: 1024px;
@laptop: 1440px;
@desktop-small: 1680px;
@desktop-medium: 1920px;
@desktop-large: 2560px;

@font-main-color: #fff;


@red: #b00020;

@icon-color: @primary-color;
@icon-color-hover: darken(@primary-color, 20%);


@-2px: -0.125rem;
@2px: 0.125rem;
@3px: 0.188rem;
@4px: 0.25rem;
@5px: 0.313rem;
@6px: 0.375rem;
@7px: 0.438rem;
@8px: 0.5rem;
@9px: 0.563rem;
@10px: 0.625rem;
@11px: 0.688rem;
@12px: 0.75rem;
@13px: 0.813rem;
@14px: 0.875rem;
@15px: 0.938rem;
@16px: 1rem;
@17px: 1.063rem;
@18px: 1.125rem;
@19px: 1.188rem;
@20px: 1.25rem;
@21px: 1.313rem;
@22px: 1.375rem;
@23px: 1.438rem;
@24px: 1.5rem;
@25px: 1.563rem;
@26px: 1.625rem;
@27px: 1.688rem;
@28px: 1.75rem;
@29px: 1.813rem;
@30px: 1.875rem;
@31px: 1.938rem;
@32px: 2rem;
@33px: 2.063rem;
@34px: 2.125rem;
@35px: 2.188rem;
@36px: 2.25rem;
@37px: 2.313rem;
@38px: 2.375rem;
@39px: 2.438rem;
@40px: 2.5rem;
@41px: 2.563rem;
@42px: 2.625rem;
@43px: 2.688rem;
@44px: 2.75rem;
@45px: 2.813rem;
@46px: 2.875rem;
@47px: 2.938rem;
@48px: 3rem;
@49px: 3.063rem;
@50px: 3.125rem;
@51px: 3.188rem;
@52px: 3.25rem;
@53px: 3.313rem;
@54px: 3.375rem;
@55px: 3.438rem;
@56px: 3.5rem;
@57px: 3.563rem;
@58px: 3.625rem;
@59px: 3.688rem;
@60px: 3.75rem;
@61px: 3.813rem;
@62px: 3.875rem;
@63px: 3.938rem;
@64px: 4rem;
@65px: 4.063rem;
@66px: 4.125rem;
@67px: 4.188rem;
@68px: 4.25rem;
@69px: 4.313rem;
@70px: 4.375rem;
@71px: 4.438rem;
@72px: 4.5rem;
@73px: 4.563rem;
@74px: 4.625rem;
@75px: 4.688rem;
@76px: 4.75rem;
@77px: 4.813rem;
@78px: 4.875rem;
@79px: 4.938rem;
@80px: 5rem;
@81px: 5.063rem;
@82px: 5.125rem;
@83px: 5.188rem;
@84px: 5.25rem;
@85px: 5.313rem;
@86px: 5.375rem;
@87px: 5.438rem;
@88px: 5.5rem;
@89px: 5.563rem;
@90px: 5.625rem;
@91px: 5.688rem;
@92px: 5.75rem;
@93px: 5.813rem;
@94px: 5.875rem;
@95px: 5.938rem;
@96px: 6rem;
@97px: 6.063rem;
@98px: 6.125rem;
@99px: 6.188rem;
@100px: 6.25rem;
@101px: 6.313rem;
@102px: 6.375rem;
@103px: 6.438rem;
@104px: 6.5rem;
@105px: 6.563rem;
@106px: 6.625rem;
@107px: 6.688rem;
@108px: 6.75rem;
@109px: 6.813rem;
@110px: 6.875rem;
@111px: 6.938rem;
@112px: 7rem;
@113px: 7.063rem;
@114px: 7.125rem;
@115px: 7.188rem;
@116px: 7.25rem;
@117px: 7.313rem;
@118px: 7.375rem;
@119px: 7.438rem;
@120px: 7.5rem;
@121px: 7.563rem;
@122px: 7.625rem;
@123px: 7.688rem;
@124px: 7.75rem;
@125px: 7.813rem;
@126px: 7.875rem;
@127px: 7.938rem;
@128px: 8rem;
@129px: 8.063rem;
@130px: 8.125rem;
@131px: 8.188rem;
@132px: 8.25rem;
@133px: 8.313rem;
@134px: 8.375rem;
@135px: 8.438rem;
@136px: 8.5rem;
@137px: 8.563rem;
@138px: 8.625rem;
@139px: 8.688rem;
@140px: 8.75rem;
@141px: 8.813rem;
@142px: 8.875rem;
@143px: 8.938rem;
@144px: 9rem;
@145px: 9.063rem;
@146px: 9.125rem;
@147px: 9.188rem;
@148px: 9.25rem;
@149px: 9.313rem;
@150px: 9.375rem;
@151px: 9.438rem;
@152px: 9.5rem;
@153px: 9.563rem;
@154px: 9.625rem;
@155px: 9.688rem;
@156px: 9.75rem;
@157px: 9.813rem;
@158px: 9.875rem;
@159px: 9.938rem;
@160px: 10rem;
@161px: 10.063rem;
@162px: 10.125rem;
@163px: 10.188rem;
@164px: 10.25rem;
@165px: 10.313rem;
@166px: 10.375rem;
@167px: 10.438rem;
@168px: 10.5rem;
@169px: 10.563rem;
@170px: 10.625rem;
@171px: 10.688rem;
@172px: 10.75rem;
@173px: 10.813rem;
@174px: 10.875rem;
@175px: 10.938rem;
@176px: 11rem;
@177px: 11.063rem;
@178px: 11.125rem;
@179px: 11.188rem;
@180px: 11.25rem;
@181px: 11.313rem;
@182px: 11.375rem;
@183px: 11.438rem;
@184px: 11.5rem;
@185px: 11.563rem;
@186px: 11.625rem;
@187px: 11.688rem;
@188px: 11.75rem;
@189px: 11.813rem;
@190px: 11.875rem;
@191px: 11.938rem;
@192px: 12rem;
@193px: 12.063rem;
@194px: 12.125rem;
@195px: 12.188rem;
@196px: 12.25rem;
@197px: 12.313rem;
@198px: 12.375rem;
@199px: 12.438rem;
@200px: 12.5rem;

@264px: 16.5rem;
@360px: 22.5rem;
@400px: 25rem;



@gutter: @20px;
@gutter-sm: @10px;
@padding-std: 20px;

@header-height: @80px;
@footer-height: @30px;


@scrollbar-track-color: @accent-color-2;
@scrollbar-thumb-color: @accent-color-1;

@dialog-bg-color: @accent-color-2;
@page-bg-color: darken(@secondary-color, 30%);




// =====================================
// Gradient Utilities
// =====================================

// Vertical gradient (top → bottom)
.gradient-vertical(@start, @end) {
  background: linear-gradient(to bottom, @start 30%, @end);
}

// Horizontal gradient (left → right)
.gradient-horizontal(@start, @end) {
  background: linear-gradient(to right, @start, @end);
}

// Angle gradient (custom degrees)
.gradient-angle(@deg, @start, @end) {
  background: linear-gradient(@deg, @start, @end);
}



//========
////=====////
// Define your base pixel size for 1rem
@rem-base: 16;

// Function-style conversion
.px(@px) {
  @value: (@px / @rem-base) * 1rem;
}

